body {
  margin: 0;
  height: 100vh;
  font-family: Karla, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #F5F7FB;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.title{
  font-size: 31.25px;
  font-weight: 700;
  line-height: 36.53px;
  text-align: center;
  color: #293264;
}


.description{
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: center;
}

.button-start{
  width: 193px;
  height: 52px;
  top: 314px;
  left: 179px;
  border: none;
  border-radius: 15px;
  opacity: 0px;
  background-color: #4D5B9E;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: center;
  color: #F5F7FB;
  transition: transform 0.1s ease, background-color 0.1s ease;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}

.button-check{
  width: 193px;
  height: 52px;
  border: none;
  border-radius: 15px;
  opacity: 0px;
  background-color: #4D5B9E;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: center;
  color: #F5F7FB;
  transition: transform 0.1s ease, background-color 0.1s ease;
  cursor: pointer;
  padding: 0;
  margin-top: 15px;
  z-index: 1;
}


.button-start:active{
  transform: scale(0.95);
  background-color: #3B4A85;
}

.right-image-start{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.left-image-start{
  position: fixed;
  bottom: 0;
  left: 1;
  z-index: -1;
}

.right-image-quiz{
  width: 25%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.left-image-quiz{
  width: 25%;
  position: fixed;
  bottom: 0;
  left: 1;
  z-index: -1;
}

.container-question{
  margin-top: 100px;
  height: 100vh;
}


.quiz-question {
  text-align: center;
}

.quiz-question-text{
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.7px;
  text-align: left;
  max-width: 80vw;
}

.answers-container {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.line-under-question {
  margin-top: 15px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  background-color: #DBDEF0; 
}

.answer-button {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  padding: 5px 20px;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  background-color: white;
  color: #293264;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answer-button.selected {
  background-color: #d6dbf5;
  border: none;
}

.correct {
  background-color: #94D7A2;
  border: none;
}

.incorrect {
  background-color: #F8BCBC;
  opacity: 50%;
  border: none;
}

.unchecked{
  opacity: 0.5 ;
}

.selected {
  border: 2px solid blue;
}

.score-info{
  font-family: Inter;
  font-size: 12.8px;
  font-weight: 700;
  line-height: 15.49px;
  text-align: center;
  color: #293264;
}

.retry-button{
  margin-left: 20px;
  padding: 5px 20px;
  max-height: 35px;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  border: none;
  border-radius: 8px;
  opacity: 0px;
  background-color: #4D5B9E;
  font-family: Inter;
  color: #F5F7FB;
  transition: transform 0.1s ease, background-color 0.1s ease;
  cursor: pointer;
  z-index: 1;
}

.checked-info{
  justify-content: center;
  align-items: center;
  display: flex;
}